a {
    color: #582F0E;
    text-decoration: none;
    font-size: 1.5rem;
}
a:hover {
    color: #A68A64;
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80vh;
}
#financeLink {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
}
#signin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#signupLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px 160px;
}
#signupLink p {
    font-size: 1.5rem;
}
#signupLink a {
    margin-left: 10px;
}