.chart {
  width: 50%;
  max-width: 100%;
  text-align: center;
}
.chartDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.userPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 2px solid #283618;
  border-radius: 3px;
  background-color: #dda15e;
  box-shadow: 5px 5px 5px gray;
  font-family: 'Roboto';
  width: 50%;
  margin-top: 20px;
}
.purchaseLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}
.purchaseLinks a {
  color: #582f0e;
}
.purchaseLinks a:hover {
  color: #A68A64;
  font-weight: bold;
}
summary {
  font-size: 1.4rem;
  color: #333D29;
}
details summary {
  cursor: pointer;
}